{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h2 class="my-4 text-center">Contact Me</h2>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <img src="https://github.com/shoaib2000857.png" class="card-img-top" alt="SHOAIB SALEHMOHAMED">
            <div class="card-body">
                <h5 class="card-title">SHOAIB SALEHMOHAMED</h5>
                <p class="card-text">Developer</p>
                <a href="mailto:your-email@example.com" class="btn btn-primary">Email</a>
                <a href="https://www.linkedin.com/in/shoaib-sadiq-salehmohamed-a77812318" target="_blank" class="btn btn-secondary">LinkedIn</a>
                <a href="https://github.com/shoaib2000857" target="_blank" class="btn btn-secondary">GitHub</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}